<navbar></navbar>

<div class="container">
  <a class="btn btn-default btn-lg btn-login" ui-sref="adicionarmidias">
    Adicionar
  </a>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="midia in midias">
      <table style="width:100%">
        <tr>
          <td>
            <strong>{{midia.nome}}</strong> 
          </td>
          <td align="right">
            <p ><a ng-click="obter(midia)" ui-sref="editarmidias">Editar</a> | <a ng-click="excluir(midia)">Excluir</a></p>
          </td>
        </tr>
      </table>
    </li>
  </ul>
</div>
