@import '../bower_components/bootswatch/journal/_variables.scss';
$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

@import '../bower_components/bootswatch/journal/_bootswatch.scss';

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.text-nowrap {
  white-space: nowrap;
}

.img-ratio {
  overflow: hidden;
  display: block;
  position:relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #eee;
  background-size: contain;
}

// Component styles are injected through grunt
// injector
@import 'admin/admin.scss';
@import 'credit/credit.scss';
@import 'main/main.scss';
@import 'midias/midias.scss';
@import '../components/footer/footer.scss';
@import '../components/modal/modal.scss';
@import '../components/oauth-buttons/oauth-buttons.scss';
// end
