<!DOCTYPE html>
<html lang="en" ng-app="APP">
<head>
    <meta charset="UTF-8">
    <title>angular file upload</title>
</head>

<body>
        <form method='post' action='/' enctype="multipart/form-data">
        <input type='file' name='upl'>
        <input type='submit'>
 </body>
</html>
