<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Albuns</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="creditMoney(form)" novalidate>

        <div class="form-group">
          <h3><small>Saldo Atual:</small> R$ {{getCurrentUser().saldo || 0}}</h3>
        </div>

        <div class="form-group">
          <label>Valor a creditar</label>

          <input type="money" class="form-control" ng-model="valor"
                 mongoose-error/>
        </div>

        <div class="form-group">
          <label> Formas de pagamento</label>

          <select ng-model="formaPgto" class="form-control" required>
            <option ng-repeat="option in formasPagamento">{{option}}</option>
          </select>
        </div>

        <p class="help-block"> {{ message }} </p>

        <button class="btn btn-lg btn-primary" type="submit">Comprar créditos</button>
      </form>
    </div>
  </div>
</div>
