<div class="form-group">
  <label for="title" class="col-sm-2 control-label">Nome</label>
  <div class="col-sm-10">
    <input type="text" ng-model="midia.nome" class="form-control" required/>
  </div>
</div>

<div class="form-group">
  <label for="title" class="col-sm-2 control-label">Categoria</label>
  <div class="col-sm-10">
    <input type="text" ng-model="midia.categoria" class="form-control" required/>
  </div>
</div>

<div class="form-group">
  <label for="title" class="col-sm-2 control-label">Tipo</label>
  <div class="col-sm-10">
    <select ng-model="midia.tipo" class="form-control" required>
      <option ng-repeat="option in categorias">{{option}}</option>
    </select>
  </div>
</div>

<div class="form-group">
  <label for="title" class="col-sm-2 control-label">Autores</label>
  <div class="col-sm-10">
    <select ng-model="midia.autores" class="form-control" multiple required>
      <option ng-repeat="option in users" value="{{option._id}}">{{option.name}}</option>
    </select>
  </div>
</div>

<div class="form-group">
  <label for="title" class="col-sm-2 control-label">Descrição</label>
  <div class="col-sm-10">
    <textarea ng-model="midia.descricao" class="form-control" required/>
  </div>
</div>

<div class="form-group">
  <label for="title" class="col-sm-2 control-label">Gratuita?</label>
  <div class="col-sm-10">
    <div class="checkbox">
      <label for="">
        <input type="checkbox" ng-model="midia.gratuita"
                 ng-true-value="true" ng-false-value="false">
      </label>
    </div>
  </div>
</div>

<div class="form-group" ng-if="midia.gratuita == false || midia.gratuita == null">
  <label for="title" class="col-sm-2 control-label">Preço</label>
  <div class="col-sm-10">
    <input type="number" pattern="^\d*(\.\d{2}$)?" size="4" ng-model="midia.preco" class="form-control" min="0" required/>
  </div>
</div>

<div class="form-group">
  <label for="title" class="col-sm-2 control-label">Arquivo</label>
  <div class="col-sm-10">
    <input type="file" ng-model="arquivo" name="file"
                 accept="media_type" ngf-max-size="2MB" onchange="angular.element(this).scope().setFile(this.files)" required>
  </div>
</div>

<div class="form-group">
  <label for="title" class="col-sm-2 control-label">Thumbnail</label>
  <div class="col-sm-10">
    <input type="file" ng-model="arquivo" name="thumb"
                 accept="media_type" ngf-max-size="2MB" required>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <input type="submit" class="btn btn-primary" value="Salvar"/>
    <a class="btn btn-default" ui-sref="midias">Voltar</a>
  </div>
</div>
