<div class="container">
  <div class="page-header">
    <h1>
      Mídias

      <a ui-sref="newMidia" class="btn btn-primary pull-right">
        Cadastrar Mídia
      </a>
    </h1>
  </div>

  <table class="table table-bordered table-striped table-hovered">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Tipo</th>
        <th>Categoria</th>
        <th>Preços</th>
        <th width="1%">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="midia in midias">
        <td>{{midia.nome}}</td>
        <td>{{midia.tipo}}</td>
        <td>{{midia.categoria}}</td>
        <td>
          <span ng-if="midia.gratuita == false || midia.gratuita == null">
            R$ {{midia.preco}}
          </span>
          <span ng-if="midia.gratuita">
            FREE
          </span>
        </td>
        <td class="text-nowrap">
          <a class="btn btn-default btn-xs" ui-sref="editMidia({id:midia._id})">Editar</a>
          <a class="btn btn-danger btn-xs"  ng-click="deleteMidia(midia)">Deletar</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
